<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>Message Details</h1>
  <p><strong>User:</strong> <%= message.user %></p>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><strong>Date Added:</strong> <%= message.added.toLocaleString() %></p>
  
  <a href="/">Back to Home</a>
</body>
</html>
